.cards
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))

    grid-gap: 24px
    .card
        background-color: #FFFFFF
        border: 1px solid
        padding: 28px
        border: #E6ECF5
        box-shadow: $shadow-1
        position: relative
        .tooltip
            position: absolute
            width: 200px
            top: 18px
            left: 50%
            padding: 5px 12px
            border-radius: 4px
            color: $white
            background-color: $tooltip-bg
            font-size: 14px
            pointer-events: none
            text-align: center
            box-shadow: $shadow-1

            opacity: 0
            transform: translate(-50%, -100%) scale(0)
            transition: $transition-10-out all
            &.visible
                opacity: 1
                transform: translate(-50%, -100%) scale(1)
                transition: $transition-10-in all
            &::after
                content: ""
                position: absolute
                left: 50%
                transform: translateX(-50%)
                bottom: -6px
                width: 0px
                height: 0px
                border-left: 7px solid transparent
                border-top: 7px solid $tooltip-bg
                border-right: 7px solid transparent
        .card-container
            .card-title
                text-align: center
                font-weight: 500
                margin-bottom: 6px
            p
                font-size: 22px
                text-align: center
        &.green p
            color: $green
        &.red p
            color: $red
