.bg
    z-index: -1
.page-container
    position: relative
    z-index: 5

.bg
    position: absolute
    width: 100%
    height: 100%
    // background-color: #212629
    background-color: #22272a
    // background-color: #111111
