html
    font-family: "Rubik", sans-serif
body
    background-color: #EEF5F9
header.site-header
    height: 70px
    background-color: #16C19D
    display: flex
    align-items: center
    padding: 0px 30px
    .header-logo
        color: #000000
        font-size: 38px
main.page-container
    margin: 30px
