table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  color: #3F3F3F;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  outline: none; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

img {
  display: block; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
input, textarea {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html {
  font-family: "Rubik", sans-serif; }

body {
  background-color: #EEF5F9;
  display: grid; }

.sample-content {
  display: none; }

main.page-container {
  margin: 30px; }

header.site-header {
  height: 70px;
  background-color: #16C19D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  min-width: 300px; }
  header.site-header a.header-logo {
    color: #FFFFFF;
    font-size: 38px;
    padding: 8px; }
  header.site-header .menu-bar {
    height: 100%;
    line-height: 70px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; }
    header.site-header .menu-bar a.menu-bar-item {
      color: #FFFFFF;
      padding: 4px 4px;
      font-size: 16px;
      margin: 0px 15px; }
      header.site-header .menu-bar a.menu-bar-item:hover {
        border-bottom: 3px solid #FFFFFF; }
  header.site-header .account-icon {
    max-height: 100%;
    position: relative; }
    header.site-header .account-icon img.account-icon {
      margin: 10px 0px;
      cursor: pointer; }
    header.site-header .account-icon .account-box {
      z-index: 5;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.24);
      position: absolute;
      right: 0px;
      top: calc(100% - 8px);
      overflow: hidden;
      height: 0px;
      width: 100px;
      pointer-events: none;
      transform-origin: right top;
      transition: 0.2s cubic-bezier(0.4, 0, 1, 1) all; }
      header.site-header .account-icon .account-box.visible {
        height: 120px;
        width: 200px;
        pointer-events: all;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1) all; }
      header.site-header .account-icon .account-box .spacer {
        height: 10px; }
      header.site-header .account-icon .account-box a.account-box-item {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0px 18px;
        flex-grow: 1;
        cursor: pointer; }
        header.site-header .account-icon .account-box a.account-box-item .item-text {
          margin-left: 4px;
          font-size: 15px;
          color: #3F3F3F; }
        header.site-header .account-icon .account-box a.account-box-item:hover {
          background-color: #F2F2F2; }

html .bg-button-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center; }
  html .bg-button-row button {
    background-color: transparent;
    padding: 12px 22px;
    margin: 0px 20px;
    color: #3F3F3F;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    position: relative; }
    html .bg-button-row button:focus::before {
      opacity: 1; }
    html .bg-button-row button:active::after {
      opacity: 1; }
    html .bg-button-row button::before {
      content: "";
      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) opacity;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24); }
    html .bg-button-row button::after {
      content: "";
      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) opacity;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24); }

html .card, html .page-card {
  padding: 28px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24); }
  html .card .card-title, html .page-card .card-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 6px;
    padding: 0px 5px; }

html .page-card .card-title {
  text-align: left;
  font-size: 18px; }

html .cards-area {
  display: grid;
  grid-gap: 24px; }
  html .cards-area.overview {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); }
  html .cards-area .card {
    position: relative; }
    html .cards-area .card .tooltip {
      position: absolute;
      width: 200px;
      top: 18px;
      left: 50%;
      padding: 5px 12px;
      border-radius: 4px;
      color: #FFFFFF;
      background-color: #3c4554;
      font-size: 14px;
      pointer-events: none;
      text-align: center;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
      opacity: 0;
      transform: translate(-50%, -100%) scale(0);
      transition: 0.1s cubic-bezier(0.4, 0, 1, 1) all; }
      html .cards-area .card .tooltip.visible {
        opacity: 1;
        transform: translate(-50%, -100%) scale(1);
        transition: 0.1s cubic-bezier(0, 0, 0.2, 1) all; }
      html .cards-area .card .tooltip::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -6px;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-top: 7px solid #3c4554;
        border-right: 7px solid transparent; }
    html .cards-area .card p {
      font-size: 22px;
      text-align: center; }
    html .cards-area .card.green p {
      color: #04C876; }
    html .cards-area .card.red p {
      color: #E65551; }

html .page-card-container {
  display: grid; }

html .page-card .bg-button-row button {
  margin: 0px 5px; }

html .page-card .bg-button-row button.save {
  margin-left: auto; }

html .page-card table thead tr td {
  font-weight: 500;
  font-size: 15px;
  width: 1px;
  padding: 0px 10px; }

html .page-card table tbody tr {
  border-bottom: 1px solid #F2F2F2; }

html .page-card table td {
  font-size: 13px; }
  html .page-card table td.amount {
    text-align: right; }

html .page-card table.transactions-table {
  width: 100%;
  text-align: left; }
  html .page-card table.transactions-table tbody select {
    height: 26px;
    background-color: #eff3f5;
    font-size: 13px; }
    html .page-card table.transactions-table tbody select:focus {
      background-color: #d9e3e7; }
  html .page-card table.transactions-table tbody input, html .page-card table.transactions-table tbody span {
    font-size: 13px;
    white-space: nowrap; }
  html .page-card table.transactions-table tbody input {
    display: table-cell;
    padding: 12px 10px;
    min-width: calc(100% - 20px);
    width: 50px;
    white-space: nowrap;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent; }
    html .page-card table.transactions-table tbody input:focus {
      border-bottom: 1px solid #3F3F3F; }
  html .page-card table.transactions-table td.type {
    width: 1%; }
    html .page-card table.transactions-table td.type select {
      min-width: 95px; }
  html .page-card table.transactions-table td.amount {
    width: 1%;
    min-width: 60px; }
    html .page-card table.transactions-table td.amount input {
      text-align: right; }
  html .page-card table.transactions-table td.cur input, html .page-card table.transactions-table thead td.cur {
    width: 1%; }
  html .page-card table.transactions-table td.date input {
    font-family: "Roboto";
    width: 65px; }

html .page-card .crypto-info {
  display: flex; }
  html .page-card .crypto-info .chart-container {
    margin-top: calc(15px + 12px*2);
    width: 0px;
    min-height: 0px;
    flex-grow: 1;
    min-width: 200px; }
  html .page-card .crypto-info .crypto-info-table {
    white-space: nowrap; }
    html .page-card .crypto-info .crypto-info-table td {
      padding: 13px 10px; }
      html .page-card .crypto-info .crypto-info-table td.crypto-amount {
        padding-right: 0px; }
      html .page-card .crypto-info .crypto-info-table td.cur {
        padding-left: 0px; }
