p Hey there, #{displayName}!
a(href="/logout") logout
.cards
    .card hey there sexy beautidu lsuudj  jfdususdfi uisd sdiodfsifsdd
    .card hey there sexy beautidu lsuudj  jfdususdfi uisd sdiodfsifsdd
    .card hey there sexy beautidu lsuudj  jfdususdfi uisd sdiodfsifsdd
    .card hey there sexy beautidu lsuudj  jfdususdfi uisd sdiodfsifsdd
    .card hey there sexy beautidu lsuudj  jfdususdfi uisd sdiodfsifsdd
    .card hey there sexy beautidu lsuudj  jfdususdfi uisd sdiodfsifsdd
