.cards

    .card.tooltip-area.portfolio-value
        .tooltip The combined value of all your coins
        .card-container
            .card-title Portfolio Value
    .card.tooltip-area.realized--gains
        .tooltip Profits that are realized
        .card-container
            .card-title Realized Gains
    .card.tooltip-area.unrealized-gains
        .tooltip Profits that are not yet realized
        .card-container
            .card-title Unrealized Gains
    .card.tooltip-area.total-fiat-invested.green
        .tooltip How much fiat currency you have sold for cryptocurrency
        .card-container
            .card-title Total Fiat Invested
    .card.tooltip-area.total-fiat-hedged.red
        .tooltip How much fiat cryptocurrency you have sold for fiat currency
        .card-container
            .card-title Total Fiat Hedged
    .card.tooltip-area.total-trades
        .tooltip How many trades you have performed
        .card-container
            .card-title Total Trades
