.page-card-container
    .page-card
        .card-title Balance
        .crypto-info
            .chart-container
                canvas#balance
            table.crypto-info-table
                thead
                    tr
                        td.amount.crypto-amount Amount
                        td.cur
                        td.amount.value Value
                tbody
table.sample-content.balance-table-sample
    tbody
        tr
            td.amount.crypto-amount Amount
            td.cur
            td.amount.value Value
